
<div class = "background"> 
<div class="firstrow">
    <label [style.font-size]= "fontSize">{{ display }}</label>
    <button id = "del" (click)="deleteC()">C</button>

</div>

<div class="secondrow">
    <button (click)="saveme('1')">1</button>
    <button (click)="saveme('2')">2</button>
    <button (click)="saveme('3')">3</button>
    <button id = "plus" (click)="saveop('+')">+</button>
</div>

<div class="thirdrow">
    <button (click)="saveme('4')">4</button>
    <button (click)="saveme('5')">5</button>
    <button (click)="saveme('6')">6</button>
    <button id = "substract"(click)="saveop('-')">-</button>
</div>

<div class="fourthrow">
    <button (click)="saveme('7')">7</button>
    <button (click)="saveme('8')">8</button>
    <button (click)="saveme('9')">9</button>
    <button id = "multi" (click)="saveop('*')">*</button>
</div>

<div class="fifthrow">
    <button (click)="saveme('0')">0</button>
    <button (click)="saveme('.')">.</button>
    <button id = "equals" (click)="result()">=</button>
    <button id = "divide" (click)="saveop('/')">/</button>
</div>
</div>